name: Demo - Create GitHub App Token via API

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  create-token:
    runs-on: ubuntu-latest
    steps:
      - name: Create Installation Access Token
        run: |
          gh api \
            --method POST \
            -H "Accept: application/vnd.github+json" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            /app/installations/104071824/access_tokens \
            --input - <<< '{
            "repositories": [
              "copybara-demo-A",
              "copybara-demo-B"
            ],
            "permissions": {
              "contents": "read",
              "metadata": "read"
            }
          }'
